@import "../../common/index.less";

.note_container {
	font-size: 16px;
	padding:  .5em 1em 1em 1em;
	position: relative;
}

.note_container:after {
	content:"";
	display:table;
	clear:both;
}

.note-home, .one-note {
	position: absolute;
	left: 1.5em;
	right: 1.5em;
}

.note-home {
	// width: 100%;
	opacity: 1;

	transition: opacity .2s linear 0s;
	-moz-transition:opacity .2s linear 0s;
	-webkit-transition:opacity .2s linear 0s;
	-o-transition:opacity .2s linear 0s;

	.note_panel {
		min-height: 260px;
	}

	.note_panel_hide {
		transition: height .1s linear 0s;
		-moz-transition:height .1s linear 0s;
		-webkit-transition:height .1s linear 0s;
		-o-transition:height .1s linear 0s;

		-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	   -ms-transform: translate3d(0, 0, 0);
	   transform: translate3d(0, 0, 0);
	}
}

.note_block {
	background-color: #fff;
	.border-radius(7px);
	margin-bottom: .75em;
	padding: 10px;
	padding-bottom: 0;
}

.note_block-line {
	border-bottom: solid #e6e6e6 1px;
	padding: 3px 0;
	overflow: hidden;
	.icon {
		vertical-align: middle;
	}
}

.note_block-line:last-child {
	border-bottom: none;
}

.note_block-header {
	color: #119d4f;
	// font-size: 1.25em;
	padding-top: 0;
	position: relative;
	overflow: hidden;

	.icon {
		margin-right: 5px;
		position: relative;
		top: -1px;
	}

	.note_block-header-back {
		font-size: .8em;
		display: inline-block;
	}

	.note_block-header-arrow {
		position: absolute;
		right: 0px;
		top: 0;
		font-size: .8em;
	}
	.arrow {
		width: 20px;
		height: 20px;
		margin-right: 0;
	}
	.note_block-header-title {
		text-align: center;
	}
}

.note_block-line-title {
	margin: 0;
	color: #333;
}

.note_block-time {
	color: #969696;
	font-size: .75em;
}

.one-note {
	z-index: -1;
	.note_block {
		opacity: 0;

		transition: height .1s linear .1s;
		-moz-transition:height .1s linear .1s;
		-webkit-transition:height .1s linear .1s;
		-o-transition:height .1s linear .1s;

		transition: opacity .1s linear .1s;
		-moz-transition:opacity .1s linear .1s;
		-webkit-transition:opacity .1s linear .1s;
		-o-transition:opacity .1s linear .1s;
	}

	.note_block-header {
		padding-bottom: .5em;
	}
}

.one-note__detail {
	height: auto;
	min-height: 350px;
	padding: 10px 0;
}

.note_block-header-title {
	font-size: 1.25em;
	color: #4ec07d;
	margin-bottom: .5em;
	font-weight: 400;
}

#nav {
	position: absolute;
}

// 页面动画效果

// 隐藏笔记和笔记本板块，显示单条笔记
.note_container_showonenote {
	.note-index {
		opacity: 0;
		z-index: -1;
	}

	.one-note {
		opacity: 1;
		z-index: 1;
	}
	.one-note .note_block {
		opacity: 1;
	}
}

.note_container_shownotebooks {
	.note_panel {
		padding: 0;
		overflow: hidden;
		min-height: 0;
		height: 0 !important;
	}

	.book_panel {
		 .note_block-header-back {
			left: 0;
		}

		.note_block-header-center {
			left: 35%;
			opacity: 0;
		}

		.note_block-header-center2 {
			opacity: 1;
		}
	}
}

.book_panel {
	overflow: hidden;

	.note_block-header-back {
		position: absolute;
		left: -5em;

		transition: all .2s linear 0s;
		-moz-transition:all .2s linear 0s;
		-webkit-transition:all .2s linear 0s;
		-o-transition:all .2s linear 0s;
	}

	.note_block-header-center {
		display: inline-block;
		position: relative;

		transition: all .5s linear 0s;
		-moz-transition:all .5s linear 0s;
		-webkit-transition:all .5s linear 0s;
		-o-transition:all .5s linear 0s;
	}

	.note_block-header-center2 {
		position: absolute;
		left: 45%;
		top: 0;
		opacity: 0;

		transition: all .3s linear .1s;
		-moz-transition:all .3s linear .1s;
		-webkit-transition:all .3s linear .1s;
		-o-transition:all .3s linear .1s;

	}
}

.note-home {
	-webkit-perspective: 300px;
	   -moz-perspective: 300px;
	    -ms-perspective: 300px;
	     -o-perspective: 300px;
	        perspective: 300px;

	-webkit-perspective-origin: 50% 50%;
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	     -o-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;

	.note_block {
		-webkit-transition: all 600ms ease;
		   -moz-transition: all 600ms ease;
		    -ms-transition: all 600ms ease;
		     -o-transition: all 600ms ease;
		        transition: all 600ms ease;

		-webkit-transform-origin: 100% 50%;
		   -moz-transform-origin: 100% 50%;
		    -ms-transform-origin: 100% 50%;
		     -o-transform-origin: 100% 50%;
		        transform-origin: 100% 50%;

		-webkit-transform: translateZ(0px);
	    -moz-transform: translateZ(0px);
	    -ms-transform: translateZ(0px);
	    -o-transform: translateZ(0px);
	    transform: translateZ(0px);

	    opacity: 1;
	}

	.note_block_hide {
		opacity: 0;
		-webkit-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
		    -moz-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			  -ms-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			   -o-transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
			   transform: translate3d( 0, 100px, -100px ) rotateX( 90deg );
	}

	.note_block_display {
		-webkit-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			   -moz-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			    -ms-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			     -o-transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
			        transform: translate3d( 0, -100px, -100px ) rotateX( -90deg );
	}
}