extends ../layout.jade

block css
	link(rel="stylesheet", href="../dist/css/photo.css?v=3")

block pagemain
	div(class="one-photo")
		div(class="photo__header")
			img(class="photo__header-cover" src="http://placehold.it/500x300")
			div(class="photo__header-stastic")
				span(class="icon") 1
				span(class="icon") 22

		div(class="photo__section")
			div(class="photo__section-time") 三天前
			div(class="photo__section-img-wrap")
				img(class="photo__section-img" src="http://placehold.it/100x100")
				img(class="photo__section-img" src="http://placehold.it/100x100")
				img(class="photo__section-img" src="http://placehold.it/100x100")
				img(class="photo__section-img" src="http://placehold.it/100x100")
				img(class="photo__section-img" src="http://placehold.it/100x100")

		div(class="photo__section")
			div(class="photo__section-time") 一个月前
			div(class="photo__section-img-wrap")
				img(class="photo__section-img" src="http://placehold.it/100x100")
				img(class="photo__section-img" src="http://placehold.it/100x100")
