doctype html
html
	head
		//- 公共的head内部标签
		include ../head
		//- 公共引用的类库
		include ../lib

		link(rel="stylesheet", href="../dist/css/blog.css")
		script(type="text/javascript", src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.js")
		script(type="text/javascript", src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert")
	body(class="post-page")
		include ../header
		include ./postcontent 
		include ../mini_profile
		include ../sitemeta
		include ../footer
		script.
			$(document).ready(function() {
				var prettyprint = false;
				$("pre code").parent().each(function() {
					$(this).addClass('prettyprint');
					prettyprint = true;
				});
				//- prettyPrint();
			});