.zimyuan__hr {
	border: 0;
	height: .75em;
	background: #c66;
	display: block;
	clear: both;
	margin: 1em 2em;
	padding: 0;
	border-radius: .25em;
}

.photo {
	overflow: hidden;
    position: relative;
    border-radius: .25em;
    // height: 100%;
    max-width: 702px;
    display: block;
    background: #444;
    border: .5em solid #444;
}