extends ../layout.jade

block css
	link(rel="stylesheet", href="../dist/css/blogs.css?v=3")

block pagemain
	header(class="blog")
		h1(class="blog__title") Web开发手记
		p(class="blog__intro") I rarely find the time to write, and when I do it’s often a struggle for me. So treat these articles as if they appeared by miracle.

	div(class="zimyuan__hr")

	if blogs.length
		section(class="recommend")
			h2(class="recommend__title")
				span(class="icon icons8-Document") 
				|&nbsp全部文章
			ul(class="recommend__list")
				each blog in blogs
					li(class="recommend__list-item")
						a(href="/blog/" + blog._id)
							h3(class="recommend__list-item-title")=blog.title
							p(class="recommend__list-item-mata")=blog.tab + ' ' + blog.create_at_ago() + ' 阅读(' + blog.visit_count + ')'

	div(class="zimyuan__hr")

	div(class="mini-profile")
		a(class="mini-profile__link",href="/profile")
			img(class="mini-profile__link-avatar photo", src="/assets/images/profile.jpg")
		h4(class="mini-profile__title")
			a(class="mini-profile__title-link",href="/profile") 袁梓民
		h6(class="mini-profile__job") 前端工程师
		div(class="mini-profile__desc") Too young, too simple, sometimes native.
		ul(class="inline-list")
			li(class="inline-list-item")
				a(href="https://www.github.com/yuanzm",class="inline-list-item-link")
					span(class="icon icons8-Github_Black")
					|&nbspGithub
			li(class="inline-list-item")
				a(href="mailto:1229084233@qq.com",class="inline-list-item-link")
					span(class="icon icons8-Email")
					|&nbspEmail
			li(class="inline-list-item")
				a(href="/profile",class="inline-list-item-link")
					span(class="icon icons8-Profile_black")
					|&nbspProfile