doctype html
html
    head
        //- 公共的head内部标签
        include ../head
        //- 公共引用的类库
        include ../lib

        link(rel="stylesheet", href="../dist/css/post.css?v=2")
    body(class="article-publish-page")
        div(class="container")
            include ../header
            div(class="main")
                include form
                include ../sitemeta

        script(src="/lib/zepto/zepto.min.js")  
        script(src="/dist/js/pages/post.js?v=3")