div(class="header")
	a( href="/",class="header__logo header__icon-btn header__icon-btn_current")
		span(class="header_logo-text") zim
	a(href="#nav", class="header__nav-trigger header__icon-btn")
		span(class="icon icons8-Menu")