aside(class="sitemeta")
	nav(id="nav", class="sitemeta__nav")
		a(class="sitemeta__nav-home-link", href="/") zimyuan.com
		ul(class="sitemeta__nav-menu")
			li(class="sitemeta__nav-menu-item")
				a(class="", href="/blogs")
					span(class="icon icons8-Document_big")
					&nbsp我的博客
			li(class="sitemeta__nav-menu-item")
				a(class="", href="/photos")
					span(class="icon icons8-Photo_big") 
					&nbsp精选相册
			li(class="sitemeta__nav-menu-item")
				a(class="", href="/notes")
					span(class="icon icons8-Note_big") 
					&nbsp全部笔记
			li(class="sitemeta__nav-menu-item")
				a(class="", href="/profile")
					span(class="icon icons8-Profile_big")
					&nbsp个人主页
		a(class="sitemeta__nav-close", href="#")
			i(class="icon icons8-Close")